.modal{
    background-color: rgba(0, 0, 0, 0.6);

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.modal__close {
    position: absolute;
  
    top: 90px;
    right: 45px;
}
  
.modal__container {
    position: relative;
}

.modal__image {
    width: 500px;
}

.modal__previous {
    position: absolute;
    left: -100px;
}

.modal__next {
    position: absolute;
    right: -100px;
}