*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.dark{
    background-color: black;
    color: white;
}

body{   
    font-family: 'Roboto', sans-serif; 
    min-height: 100vh;  
}

.color-grey, span{
    color: grey;
}

button{
    all: unset;
    cursor: pointer;
}

.conteudo{
    margin-left: 64px;
}

.titulo{
    margin-top: 152px;
    margin-bottom: 52px; 
}

.imagem{
    position: relative;
    margin-left: 30px;
    margin-bottom: 40px;
}

.imagem .foto{
    margin-bottom: 18px;
}

.like{
    position:absolute;
    top: 10px;
    right: 10px;
}

